@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



:root {
    --primary-color: #aaaaaa;
    --secondary-color: #267cd2;
    --background-color: #000000;

    --font-small: 10px;
    --font-medium: 22px;
    --font-large: 36px;
}

.dark-mode {
    color: var(--primary-color);
    background-color: var(--background-color);
}

.light-mode {
    color: var(--background-color);
    background-color: var(--primary-color);
}



body {
    margin: 0;
    font-family: 'Rasa';
    font-weight: 500;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

* {
    /* border: 0.5px solid black; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.displayList>* {
    margin: 10px;
}

.box {
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    width: 150px;
    height: 250px;
    flex-direction: column;
    transition: all 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.box p {
    margin: 5px;
}

.box p:first-of-type {
    font-weight: bold;
}

.box p:nth-of-type(2) {
    font-size: 18px;
}

.box p:nth-of-type(3) {
    font-style: italic;
}

.box p:nth-of-type(4) {
    text-transform: uppercase;
}

.box p:nth-of-type(5),
.box p:nth-of-type(6) {
    font-size: 14px;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

form>* {
    margin: 10px;
    text-align: left;
}

form span {
    font-weight: 900;
    color: red;
}

input[type="text"], input[type="datetime-local"] {
    width: 250px;
    height: 25px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0062cc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

button:disabled {
    cursor: not-allowed;
    background-color: #777c81;
}